.idea/
.ipynb_checkpoints/
network_recall_old.py
__pycache__/
cache/*
!cache/.gitkeesp
cache_beforeJan4/
data/*.pkl
data/*.txt
figs/
llama/
log/*
!log/.gitkeep
pnet_files/
preprocess/
prompts/obsolete/
prompts/*.txt
scripts/
*.ipynb
*.bat
.env
*.pkl
openai-env/*
.vscode/*
test/*
.DS_Store
num_of_actors/*
openai-env/*
results/*
